@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #c9af7f 0%, #382b12 100%);
  box-shadow: 0 16px 14px 0 #443b2b;
  padding: 18px 24px;
  max-width: 345px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 24px 20px 0 rgba(0, 0, 0, 0.25);
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 5px; /* Adjust the offset as needed */
}

.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}

.link:hover {
  background-color: var(--color-primary-light); /* Adjust to a lighter shade on hover */
}
