@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
  animation: fadeIn 1s ease-in-out;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
  animation: slideInFromLeft 1s ease-in-out;
}

.text p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  animation: slideInFromRight 1s ease-in-out;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.link:hover {
  transform: scale(1.05);
  background-color: var(--color-hover);
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
  transition: color 0.3s ease;
}

.link a:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
